<div>
	
	<!-- News title -->
	<p style="margin-left: 25px; margin-top: 15px;">News title:</p>
	<textarea ng-model="$ctrl.singleNews.title" required="required" style="border: 1px solid black; margin-left: 45px;" rows="3" cols="90"></textarea><br />
	
	<!-- News short text -->
	<p style="margin-left: 25px; margin-top: 15px;">News short text:</p>
	<textarea ng-model="$ctrl.singleNews.shortText" required="required" style="border: 1px solid black; margin-left: 45px;" rows="5" cols="90"></textarea><br />
	
	<!-- News full text -->
	<p style="margin-left: 25px; margin-top: 15px;">News full text:</p>
	<textarea ng-model="$ctrl.singleNews.fullText" required="required" style="border: 1px solid black; margin-left: 45px;" rows="10" cols="90"></textarea><br />
	
	<!-- Added tags -->
	<div style="margin-bottom: 10px;"> 
		<p style="margin-left: 25px; margin-top: 15px; ">Tags:</p>
		<div style="margin-left: 45px;">
			<div ng-repeat="tagName in $ctrl.tagNamesEmbeded" style="display: inline-block; margin-left: 2px;">
				<button type="button" class="btn btn-default">{{tagName}}</button>
			</div>
		</div>
	</div>
	
	<!-- Tags to add -->
	<div style="margin-left: 45px;">
	  	<select name="tags" ng-model="$ctrl.selectedTagName">
		    <option ng-repeat="tag in $ctrl.tags" value="{{tag.tagName}}">{{tag.tagName}}</option>
		</select>
		<button type="button" ng-click="$ctrl.addTagToNews()">Add tag to news</button>
	</div>
	
	<!-- Added authors -->
	<div style="margin-bottom: 10px;"> 
		<p style="margin-left: 25px; margin-top: 15px; ">Authors:</p>
		<div style="margin-left: 45px;">
			<div ng-repeat="authorName in $ctrl.authorNamesEmbeded" style="display: inline-block; margin-left: 2px;">
				<button type="button" class="btn btn-default">{{authorName}}</button>
			</div>
		</div>
	</div>
	
	<!-- Authors to add -->
	<div style="margin-left: 45px;">
	  	<select name="authors" ng-model="$ctrl.selectedAuthorName">
		    <option ng-repeat="author in $ctrl.authors" value="{{author.authorName}}">{{author.authorName}}</option>
		</select>
		<button type="button" ng-click="$ctrl.addAuthorToNews()">Add author to news</button>
	</div>
	
	<!-- Save / Cancel buttons -->
	<div style="float: right; margin-top: 10px; margin-right: 125px; margin-bottom: 10px;">
		<button type="button" ng-click="$ctrl.saveNews()" class="btn btn-primary" style="margin-right: 5px; width: 120px;">Save</button>
		<a href="#!/news/"><button type="button" class="btn btn-primary" style="width: 120px;">Cancel</button></a>
	</div>
	
	
	<br /><br />
</div>