<div><br />
    <div ng-model="$ctrl.newsFromREST" ng-repeat="singleNews in $ctrl.newsFromREST" style="border: 3px solid black; margin: 10px; padding-top: 5px; padding-left: 5px; padding-right: 5px;">
	    <b><a href="#!/news/{{singleNews.newsId}}" style="color: black; font-size: x-large;;">{{singleNews.title}}</a></b>
	    <div style="display: inline-block; float: right;">{{singleNews.creationDate}}</div>
	    <p style="margin-left: 10px; margin-top: 5px;">{{singleNews.shortText}}</p><br />
	    <div style="text-align: right;">
		    <a href="#!/news/{{singleNews.newsId}}">View</a>
		    <b>|</b>
		    <a href="#!/news/edit/{{singleNews.newsId}}">Edit</a>
		    <b>|</b>
		    <a href="#" ng-click="$ctrl.deleteNews(singleNews.newsId)">Delete</a>
		</div>
	</div>
	
	<!-- Pagination for news -->
	<div ng-show="$ctrl.noError">
		<div style="float: right; font-size: xx-small;">
			<input type="text" ng-model="$ctrl.newsPerPage" style="border: 1px solid black;"/>{{$ctrl.newsPerPage}}
			<button type="button" ng-click="$ctrl.setNewsPerPage()">News per page</button>
		</div><br /><br />
		<div style="text-align: center;">
			<button type="button" ng-show="$ctrl.newsPrevious" ng-click="$ctrl.previousNews()"><</button>
			<button type="button" ng-model="$ctrl.currentPageNumber">{{$ctrl.currentPageNumber}}</button>
			<button type="button" ng-show="$ctrl.newsRemain" ng-click="$ctrl.nextNews()">></button>
		</div><br /><br />
	</div>
	
	<!-- Error imformation -->
	<div ng-hide="$ctrl.noError">
		<h1>{{$ctrl.errorInfo.message}}</h1>
	</div>
	
</div>