<div>
	
	<!-- News title -->
	<p style="margin-left: 25px; margin-top: 15px;">News title:</p>
	<textarea ng-model="$ctrl.singleNews.title" required="required" style="border: 1px solid black; margin-left: 45px;" rows="3" cols="90"></textarea><br />
	
	<!-- News short text -->
	<p style="margin-left: 25px; margin-top: 15px;">News short text:</p>
	<textarea ng-model="$ctrl.singleNews.shortText" required="required" style="border: 1px solid black; margin-left: 45px;" rows="5" cols="90"></textarea><br />
	
	<!-- News full text -->
	<p style="margin-left: 25px; margin-top: 15px;">News full text:</p>
	<textarea ng-model="$ctrl.singleNews.fullText" required="required" style="border: 1px solid black; margin-left: 45px;" rows="10" cols="90"></textarea><br />
	
	<!-- Tags -->
	<div>
		<!-- Added tags -->
		<div style="margin-bottom: 10px;"> 
			<p style="margin-left: 25px; margin-top: 15px; ">Tags:</p>
			<div style="margin-left: 45px;">
				<div ng-repeat="tag in $ctrl.singleNews.tags" style="display: inline-block; margin-left: 2px;">
					<button type="button" class="btn btn-default">{{tag.tagName}}</button>
				</div>
			</div>
		</div>

		<!-- Tags to add -->
		<div style="margin-left: 45px; margin-bottom: 10px;">
		  	<select name="tags" ng-model="$ctrl.selectedTagNameToAdd">
			    <option ng-repeat="tag in $ctrl.tags" value="{{tag.tagName}}">{{tag.tagName}}</option>
			</select>
			<button type="button" ng-click="$ctrl.addTagToNews()">Add tag to news</button>
		</div>
		
		<!-- Tags to delete -->
		<div style="margin-left: 45px;">
		  	<select name="tags" ng-model="$ctrl.selectedTagNameToDelete">
			    <option ng-repeat="tag in $ctrl.singleNews.tags" value="{{tag.tagName}}">{{tag.tagName}}</option>
			</select>
			<button type="button" ng-click="$ctrl.deleteTagFromNews()">Delete tag from news</button>
		</div>
	</div><br />
	
	<!-- Authors -->
	<div>
		<!-- Added authors -->
		<div style="margin-bottom: 10px;"> 
			<p style="margin-left: 25px; margin-top: 15px; ">Authors:</p>
			<div style="margin-left: 45px;">
				<div ng-repeat="author in $ctrl.singleNews.authors" style="display: inline-block; margin-left: 2px;">
					<button type="button" class="btn btn-default">{{author.authorName}}</button>
				</div>
			</div>
		</div>
		
		<!-- Authors to add -->
		<div style="margin-left: 45px; margin-bottom: 10px;">
		  	<select name="authors" ng-model="$ctrl.selectedAuthorNameToAdd">
			    <option ng-repeat="author in $ctrl.authors" value="{{author.authorName}}">{{author.authorName}}</option>
			</select>
			<button type="button" ng-click="$ctrl.addAuthorToNews()">Add author to news</button>
		</div>
		
		<!-- Authors to delete -->
		<div style="margin-left: 45px;">
		  	<select name="authors" ng-model="$ctrl.selectedAuthorNameToDelete">
			    <option ng-repeat="author in $ctrl.singleNews.authors" value="{{author.authorName}}">{{author.authorName}}</option>
			</select>
			<button type="button" ng-click="$ctrl.deleteAuthorFromNews()">Delete author from news</button>
		</div>
	</div>
	
	<div ng-show="$ctrl.isErrorHappened">
		<p style="margin-left: 45px; margin-top: 10px; color: red;">Sorry, but someone has already updated this news...</p>
		<!-- <p>{{$ctrl.error.message}}</p> -->
	</div>
	
	<!-- Save / Cancel buttons -->
	<div style="float: right; margin-top: 10px; margin-right: 125px; margin-bottom: 10px;">
		<button type="button" ng-click="$ctrl.saveNews()" class="btn btn-primary" style="margin-right: 5px; width: 120px;">Save</button>
		<a href="#!/news/"><button type="button" class="btn btn-primary" style="width: 120px;">Cancel</button></a>
	</div>
	
	
	<br /><br />
</div>