<!DOCTYPE html>
<html ng-app="clientApp">

<head>
	<meta charset="UTF-8">
	<title>index page</title>
	<link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css" />
	<script type="text/javascript" src="resources/js/libs/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" src="resources/js/libs/angular.min.js"></script>
	<script type="text/javascript" src="resources/js/libs/angular-route.js"></script>
	<script type="text/javascript" src="resources/js/libs/angular-resource.js"></script>
	<script type="text/javascript" src="resources/js/libs/bootstrap.min.js"></script>	
	
	<script type="text/javascript" src="resources/js/app.module.js"></script>
	<script type="text/javascript" src="resources/js/core/core.module.js"></script>
	<script type="text/javascript" src="resources/js/core/news/news.module.js"></script>
	<script type="text/javascript" src="resources/js/core/tag/tag.module.js"></script>
	<script type="text/javascript" src="resources/js/core/author/author.module.js"></script>
	<script type="text/javascript" src="resources/js/core/comment/comment.module.js"></script>
	<script type="text/javascript" src="resources/js/header/header.module.js"></script>
	<script type="text/javascript" src="resources/js/menu-bar/menu-bar.module.js"></script>
	<script type="text/javascript" src="resources/js/news-list/news-list.module.js"></script>
	<script type="text/javascript" src="resources/js/news-list-by-tag/news-list-by-tag.module.js"></script>
	<script type="text/javascript" src="resources/js/news-list-by-author/news-list-by-author.module.js"></script>
	<script type="text/javascript" src="resources/js/news-list-by-comments/news-list-by-comments.module.js"></script>
	<script type="text/javascript" src="resources/js/news-detail/news-detail.module.js"></script>
	<script type="text/javascript" src="resources/js/news-creation/news-creation.module.js"></script>
	<script type="text/javascript" src="resources/js/news-edit/news-edit.module.js"></script>
	<script type="text/javascript" src="resources/js/tags/tags.module.js"></script>
	<script type="text/javascript" src="resources/js/authors/authors.module.js"></script>
	
	<script type="text/javascript" src="resources/js/app.config.js"></script>
	<script type="text/javascript" src="resources/js/core/core.service.js"></script>
	<script type="text/javascript" src="resources/js/core/news/news.service.js"></script>
	<script type="text/javascript" src="resources/js/core/tag/tag.service.js"></script>
	<script type="text/javascript" src="resources/js/core/author/author.service.js"></script>
	<script type="text/javascript" src="resources/js/core/comment/comment.service.js"></script>
	<script type="text/javascript" src="resources/js/news-list/news-list.component.js"></script>
	<script type="text/javascript" src="resources/js/news-list-by-tag/news-list-by-tag.component.js"></script>
	<script type="text/javascript" src="resources/js/news-list-by-author/news-list-by-author.component.js"></script>
	<script type="text/javascript" src="resources/js/news-list-by-comments/news-list-by-comments.component.js"></script>
	<script type="text/javascript" src="resources/js/news-detail/news-detail.component.js"></script>
	<script type="text/javascript" src="resources/js/news-creation/news-creation.component.js"></script>
	<script type="text/javascript" src="resources/js/news-edit/news-edit.component.js"></script>
	<script type="text/javascript" src="resources/js/tags/tags.component.js"></script>
	<script type="text/javascript" src="resources/js/authors/authors.component.js"></script>
</head>

<body>
    <!-- <p>1 + 2 = {{1 + 2}}</p> -->
	
	<!-- common div -->
	<div class="container" style="border: 3px solid black">
	    
	    <!-- header div -->
	    <div class="row" ng-controller="HeaderController as header" style="margin: 10px;">
	        <div class="col-md-12" style="border: 3px solid black; text-align: center;">
	        	<a href="#!/news/" ng-show="canGoBack" style="float: left;">Back</a>
	        	News management
	        </div>
	    </div>
	    
	    <!-- menu + content div -->
	    <div class="row">
	    	
	    	<!-- menu div -->
	        <div class="col-md-2" ng-controller="MenuBarController as menu" style="border: 3px solid black; margin: 10px 10px 10px 25px; padding-left: 30px; padding-right: 30px; padding-bottom: 77%; width:auto;">
	        	<br />
	        	<a href="#!/news/creation"><p>Add News</p></a>
	        	
	        	<div ng-show="listOfNews">
	        		<br />
	        		
		        	<a href="" ng-click="menu.showTagsWithAmountOfNews()"><p>Tags</p></a>
		        	<div ng-show="newsPerTagShow" style="margin-top: -7px; margin-right: -20px; margin-bottom: 10px; margin-left: 10px;">
		        		<div ng-repeat="tagTO in menu.tagsTO">
		        			<a href="#!/newsByTag/?tagName={{tagTO.tag.tagName}}">{{tagTO.tag.tagName}}({{tagTO.count}})</a>
		        		</div>		        		
		        	</div>
		        	
		        	<a href="" ng-click="menu.showAuthorsWithAmountOfNews()"><p>Authors</p></a>
		        	<div ng-show="newsPerAuthorShow" style="margin-top: -7px; margin-right: -20px; margin-bottom: 10px; margin-left: 10px;">
		        		<div ng-repeat="authorTO in menu.authorsTO">
		        			<a href="#!/newsByAuthor/?authorId={{authorTO.author.authorId}}">{{authorTO.author.authorName}}({{authorTO.count}})</a>
		        		</div>		        		
		        	</div>
		        	
		        	<a href="" ng-click="menu.showCommentTops()"><p>Comments</p></a><br />
		        	<div ng-show="newsTopCommentsShow" style="margin-top: -27px; margin-right: -20px; margin-bottom: 10px; margin-left: 12px;">
		        		<div>
		        			<a href="#!/newsByTopComments/?topCommentedNewsAmount=5">top 5</a><br />
		        			<a href="#!/newsByTopComments/?topCommentedNewsAmount=20">top 20</a><br />
		        			<a href="#!/newsByTopComments/?topCommentedNewsAmount=100">top 100</a><br />
		        		</div>		        		
		        	</div>
		        	
		        	<a href="#!/tags/"><p>Add/Change Tags</p></a>
		        	<a href="#!/authors/"><p>Add/Change Authors</p></a>
		        </div>
		        
		        <div ng-show="newsDetail">
		        	<a href="#!/" ng-click="menu.deleteNews(currentNews.newsId)"><p>Delete news</p></a>
		        	<a href="#!/news/edit/{{currentNews.newsId}}"><p>Edit news</p></a>
		        </div>
	        </div>
	        
	        <!-- content div -->
	        <div ng-view class="col-md-10" style="border: 3px solid black; margin: 10px; width: 75%;">
	        	
	        </div>
	    </div>
	    
	    <!-- footer div -->
	    <div class="row" style="margin: 10px;">
	        <div class="col-md-12" style="border: 3px solid black; text-align: center;">
	        	© 1993 - 2016. EPAM Systems. All rights reserved.
	        </div>
	    </div>
	</div>
</body>
</html>