<div>
	<!-- Tags to change -->
	<div style="margin-left: 45px; margin-top: 20px; margin-bottom: 10px;">
	  	<select name="tags" ng-model="$ctrl.selectedTagNameToChange" ng-mousedown="$ctrl.edit = false">
		    <option ng-repeat="tag in $ctrl.tags" value="{{tag.tagName}}">{{tag.tagName}}</option>
		</select>
		<input id="input" type="text" ng-model="$ctrl.selectedTagNameToChange" ng-show="$ctrl.edit"/>
		<button type="button" ng-click="($ctrl.edit = true) && $ctrl.editTag()">Edit</button>
		<button type="button" ng-click="($ctrl.selectedTagNameToChange != null) && $ctrl.updateTag()" ng-show="$ctrl.edit">Update</button>
		<button type="button" ng-click="($ctrl.selectedTagNameToChange != null) && $ctrl.deleteTag()">Delete</button>
	</div>
	
	<!-- Button for a new tag -->
	<div style="margin-left: 45px; margin-bottom: 20px">
		<button type="button" ng-click="$ctrl.newTagToCreate = true">Add new tag</button>
	</div>
	
	<!-- New tag creation -->
	<div ng-show="$ctrl.newTagToCreate" style="margin-left: 45px; margin-bottom: 10px; margin-bottom: 10px">
	  	<input type="text" ng-model="$ctrl.newTagName" />
		<button type="button" ng-click="($ctrl.newTagName != null) && $ctrl.addTag()">Save</button>
	</div>
</div>