<div><br />
    <div ng-repeat="singleNews in $ctrl.newsFromREST" style="border: 3px solid black; margin: 10px; padding-top: 5px; padding-left: 5px; padding-right: 5px;">
	    <span>({{singleNews.newsId}})</span>
	    <a href="#!/news/{{singleNews.newsId}}">{{singleNews.title}}</a>
	    <p>{{singleNews.shortText}}</p><br />
	    <div style="text-align: right;">
		    <a href="#!/news/{{singleNews.newsId}}">View</a>
		    <b>|</b>
		    <a href="">Edit</a>
		    <b>|</b>
		    <a href="">Delete</a>
		</div>
	</div>
	
	<!-- Pagination for news -->
	<div style="float: right; font-size: xx-small;">
		<input type="text" ng-model="$ctrl.newsPerPage" style="border: 1px solid black;"/>
		<button type="button" ng-click="$ctrl.setNewsPerPage()">News per page</button>
	</div><br /><br />
	<div style="text-align: center;">
		<button type="button" ng-show="$ctrl.newsPrevious" ng-click="$ctrl.previousNews()"><</button>
		<button type="button" ng-model="$ctrl.currentPageNumber">{{$ctrl.currentPageNumber}}</button>
		<button type="button" ng-show="$ctrl.newsRemain" ng-click="$ctrl.nextNews()">></button>
	</div><br /><br />
</div>