<div>
	<!-- News title + creation date -->
	<div style=" margin-top: 10px;">
		<h1 style="text-align: left; display: inline;">{{$ctrl.singleNews.title}}</h1>
		<p style="text-align: right; display: inline; float: right;">{{$ctrl.singleNews.creationDate}}</p>
	</div><br />
	
	<!-- Authors -->
	<div ng-repeat="singleAuthor in $ctrl.singleNews.authors" style="margin-left: 25px;">
		<a href="#!/newsByAuthor/?authorId={{singleAuthor.authorId}}">{{singleAuthor.authorName}}</a>
	</div><br />
	
	<!-- News full text -->
	<div>
		<p style="margin-left: 25px;">{{$ctrl.singleNews.fullText}}</p>
	</div>
	
	<!-- Tags -->
	<div ng-repeat="singleTag in $ctrl.singleNews.tags" style="display: inline; float: right">
		<a href="#!/newsByTag/?tagName={{singleTag.tagName}}" class="btn btn-default">{{singleTag.tagName}}</a>
	</div><br /><br />
	
	<!-- Area for a comment + button "add comment" -->
	<textarea ng-model="$ctrl.newComment.commentText" style="border: 1px solid black; margin-left: 25px;" rows="5" cols="90"></textarea><br />
	<button type="button" ng-click="$ctrl.addComment()" class="btn btn-success" style="margin-left: 25px;">Add comment</button><br /><br />
	
	<!-- Comments -->
	<div ng-repeat="singleComment in $ctrl.commentsToShow" style="border: thin solid black; margin-left: 25px; margin-bottom: 5px; padding: 5px">
		<p>{{singleComment.creationDate}}</p>
		<p>{{singleComment.commentText}}</p>
	</div>
	
	<!-- Pagination for comments -->
	<div style="float: right; font-size: xx-small;">
		<input type="text" ng-model="$ctrl.commentsPerPage" style="border: 1px solid black;"/>
		<button type="button" ng-click="$ctrl.setCommentsPerPage()">Comments per page</button>
	</div><br />
	<div style="text-align: center;">
		<button type="button" ng-show="$ctrl.commentsPrevious" ng-click="$ctrl.previousComments()"><</button>
		<button type="button" ng-model="$ctrl.currentPageNumber">{{$ctrl.currentPageNumber}}</button>
		<button type="button" ng-show="$ctrl.commentsRemain" ng-click="$ctrl.nextComments()">></button>
	</div><br />
	
</div>