<div>
	<!-- Authors to change -->
	<div style="margin-left: 45px; margin-top: 20px; margin-bottom: 10px;">
	  	<select name="authors" ng-model="$ctrl.selectedAuthorNameToChange" ng-mousedown="$ctrl.edit = false">
		    <option ng-repeat="author in $ctrl.authors" value="{{author.authorName}}">{{author.authorName}}</option>
		</select>
		<input id="input" type="text" ng-model="$ctrl.selectedAuthorNameToChange" ng-show="$ctrl.edit"/>
		<button type="button" ng-click="($ctrl.edit = true) && $ctrl.editAuthor()">Edit</button>
		<button type="button" ng-click="($ctrl.selectedAuthorNameToChange != null) && $ctrl.updateAuthor()" ng-show="$ctrl.edit">Update</button>
		<button type="button" ng-click="($ctrl.selectedAuthorNameToChange != null) && $ctrl.deleteAuthor()">Delete</button>
	</div>
	
	<!-- Button for a new author -->
	<div style="margin-left: 45px; margin-bottom: 20px">
		<button type="button" ng-click="$ctrl.newAuthorToCreate = true">Add new author</button>
	</div>
	
	<!-- New author creation -->
	<div ng-show="$ctrl.newAuthorToCreate" style="margin-left: 45px; margin-bottom: 10px; margin-bottom: 10px">
	  	<input type="text" ng-model="$ctrl.newAuthorName" />
		<button type="button" ng-click="($ctrl.newAuthorName != null) && $ctrl.addAuthor()">Save</button>
	</div>
</div>